.contact{
    background: #e4d5f4;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contact__logo{  
    width: 150px;
}

.contact__navegation{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact__enlace{
    text-align: center;
}

.title__form{
    padding-bottom: 1rem;
    color: rgb(43, 42, 42);

}

form {
    margin: 0 auto;
}

label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

input[type="submit"] {
    background-color: #7c34db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.contact__nombre, .contact__mensaje {
    color: #999 ;
    display: block;
    width: 100%;
    margin-bottom: .5rem;
    padding: 1rem;
    box-sizing: border-box; 
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    resize: none;
}

.contact__mensaje::placeholder {
    color: #999; /* Color de texto para el marcador de posición */
}

.contact__enlace a{
    color: #662f8d;
}

.contact__boton{
    width: 144px;
    height: 51px;
    text-align: center;
    align-items: center;
    justify-content: c;

}

@media screen and (min-width: 810px) {
    .contact{ 
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        gap: 112px;
        padding: 64px 64px;
        
    }

    .contact__logo{
        width: 200px;

    }
    .contact__enlace{
        gap:24px;
        text-align: left;

    }
}