.head{
    width: 100%;

    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding:.5rem;

    border-bottom: 1px solid #ce9bf1;
    
    position: relative;
    background-color: #dddcf1;
    z-index:3;
   


}

.head__navegation{
    text-align: center;
    justify-content: space-around;
}

.head__logo{
    width: 150px;
    margin:.5rem ;

    order: 1;
  
}


.head__search input[type="text"] {
    /* Ocultar el campo de entrada en pantallas más pequeñas */
    display: block; /* Asegura que el campo de entrada tenga un diseño de bloque */
}

.search-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-image: url("../img/icono-lupa.png");
    background-size: cover;
    background-repeat: no-repeat;

    order:2;
}

.boton_login {

    border: 1px solid var(--boton-violeta); 
    width: 133px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    order: 3;
}

.boton_login a {
    text-decoration: none;
}

.boton_login button {
    background: none;
    border: none;
    color: #662f8d; 
}

.boton_login button:hover {
    color: #6300a3; 
}

@media (max-width: 809px) {
    .head__search input[type="text"] {
    display: none;}
}

@media screen and (min-width: 810px) {
    .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        padding:25px 64px;
    }

    .head__logo{
        width: 200px;

        order: 1;
    }

    .head__search{
        display: flex;
        gap: 12px;
        align-items: flex-start;

        order: 2; 
    }

    .head__search input[type="text"] {
        /* Estilos para el campo de entrada de búsqueda */
        border: 1px solid #ce9bf1; /* Borde alrededor del campo */
        border-radius: 5px; /* Bordes redondeados */
        padding: 0.5rem; /* Espaciado interno */
        width:300px; /* Ancho del campo de entrada */
        font-size: 0.9rem; /* Tamaño de la fuente */
        color: #662f8d; /* Color del texto */
        font-size: 14px;
    }

    .boton_login{
        width: 182px;
        height: 51px;
        font-size: 16px;

        order: 3;
    }
}

