:root {
    /*--variable:valor; y para llamarlo es var(nombre_variable)*/
  
    --background-azul-claro: #EAF2FD;
    --background-gris-clarito: #F5F5F5;

    --border-cabecera-mobile: #103D4A;

    --boton-violeta: #ce9bf1;
    --boton-azul-oscuro: #134383;

    --fuente-ceniza-claro: #666666;
    --fuente-ceniza-oscuro: #4F4C4C;
    --fuente-gris-oscuro: #3a3838;

    --montserrat: 'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
 }

html{
    font-size: 16px;
    scroll-behavior: smooth;

}

body{
    font-family:var(--open-sans)
}

.container{
    padding-right: 1rem;
    padding-left: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
    list-style-type: none;
}

.boton{
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 1px solid var(--boton-violeta);
    height: 3rem;
    width: 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}